<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1><span class="title" routerLink="">Material Angular</span></h1>
    <span class="example-spacer"></span>
    <button mat-button routerLink="../about">About</button>
    <button mat-button routerLink="services">Services</button>
    <button mat-button routerLink="../contact">Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <h1>Services work!</h1>
  <p (click)="goHome()" style="cursor:pointer;">Take me to home</p>
</mat-card>