<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1><span class="title" routerLink="">Material Angular</span></h1>
    <span class="example-spacer"></span>
    <button mat-button routerLink="about">About</button>
    <button mat-button routerLink="services/123">Services</button>
    <button mat-button routerLink="contact">Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-form-field>
    <input matInput placeholder="some text.." [(ngModel)]="newBestPerson" (keydown)="addPersonEnter($event)">
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="addPerson()">Add</button>
</mat-card>
<mat-card>
  <h2>List of the best people: </h2>
  <br>
  <ul class="life-container" *ngFor="let best of theBestList; let i = index" (click)="removePerson(i)">
    <li>{{ best }}</li>
  </ul>
</mat-card>